<section class="dice-panel"
    >
    <div class="alea">
        <span class="char1">A</span>
        <span class="char2">l</span>
        <span class="char3">e</span>
        <span class="char4">a</span>
        <span class="char5">&nbsp;</span>
        <span class="char6">j</span>
        <span class="char7">a</span>
        <span class="char8">c</span>
        <span class="char9">t</span>
        <span class="char10">a</span>
        <span class="char11">&nbsp;</span>
        <span class="char12">e</span>
        <span class="char13">s</span>
        <span class="char14">t</span>
    </div>
    <div class="dice"
        ng-class="random"
        >
        <figure class="front"></figure>
        <figure class="back"></figure>
        <figure class="right"></figure>
        <figure class="left"></figure>
        <figure class="top"></figure>
        <figure class="bottom"></figure>
    </div>
</section>
