.error-panel {
  position: absolute;
  bottom: 0;
  left: 320px;
  width: 1000px;
  pointer-events: none;
  padding: 0;

  .message {
    width: 100%;
    height: 60px;
    border: 5px solid #720000;
    border-bottom: none;
    font-size: 1.1em;
    color: white;
    text-align: center;
    background-color: #aa0000;
    padding: 10px 5px;
    margin: 0 0 -10px 0;
    border-radius: 10px 10px 0 0;
    pointer-events: auto;
    cursor: ns-resize;
  }
}
