.config {
  position: fixed;
  bottom: 0;
  right: 10px;
  width: 2em;
  height: 2em;
  background-color: lightblue;
  justify-content: center;
  display: flex;
  align-items: center;
  cursor: pointer;
}
