.notification-box-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 400px;
  min-height: 80px;
  cursor: pointer;
  color: white;
  border: 10px solid $border-color-1;
  background-color: white;
  margin: 250px 0 0 -200px;
  z-index: 2000;
  box-shadow: 0 20px 20px 0px rgba(0, 0, 0, 0.5),
  0 -50px 70px 10px rgba(0, 0, 0, 0.3) inset;

  p {
    font-size: 2em;
    font-weight: bold;
    margin: 8px;
    color: #604f36;
    text-align: center;
  }
}