<section class="intro-panel"
     ng-show="showIntroBox == true"
    >
    <div class="overlay"></div>
    <div class="intro-panel-container rounded-box">
        <h1>Adriatik</h1>
        <h2>Veni, vidi, vici</h2>
        <div class="authors">
            <span class="adk-tooltip" title="Rémy AURICOSTE"><span title=""><img src="http://www.gravatar.com/avatar/f4f4a333469c8b98c154057577be040a?s=50"/></span></span>
            <span class="adk-tooltip" title="Alain DOAN-HUU"><span title=""><img src="http://www.gravatar.com/avatar/67e9a59bf0ff662b936ad25d483e112f?s=50" /></span></span>
        </div>
        <div class="connect-link">
            <form>
                <input type="email" name="email" placeholder="Votre email Gravatar" />
                <input type="button" ng-click="submitConnexion()" value="Se connecter" />
            </form>
        </div>
    </div>
</section>