section.player-panel {
  position: fixed;
  bottom: -150px;
  transition: 0.5s;
  left: 330px;
  width: 700px;
  height: 190px;
  &:hover {
    bottom: 0px;
  }

  detail.player {
    float: left;
    width: 130px;
    height: 180px;
    margin: 0 5px 0 0;
    transition: all 0.3s ease-in-out;

    .player-avatar img {
      border-radius: 50%;
      margin: 6px 3px 3px 3px;
      border: 1px solid black;
    }
    .player-red {
      background: linear-gradient(to top, $player-red-1, $player-red-2 80%); /* Standard syntax */
    }
    .player-blue {
      background: linear-gradient(to top, $player-blue-1, $player-blue-2 80%); /* Standard syntax */
    }
    .player-green {
      background: linear-gradient(to top, $player-green-1, $player-green-2 80%); /* Standard syntax */
    }
    .player-purple {
      background: linear-gradient(to top, $player-purple-1, $player-purple-2 80%); /* Standard syntax */
    }
    .resources {
      .priest,.philosopher {
        display: flex;
        img {
          float: left;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          border: 1px solid black;
          background-color: white;
          margin-top: 5px;
          margin-right: -10px;
          vertical-align: middle;

          &:first-of-type {
            margin-left: 5px;
          }
        }
      }
    }
  }
  detail.player.current {
    transform: translate(0, -35px);
    transition: all 0.3s ease-in-out;
  }
}

