<div ng-show="game.currentBattle && !isChoosingRetreat" class="battlePanel">
  <input type="button" value="Masquer" ng-click="toggleShow()" class="hide-button"/>
  <div class="panel rounded-box shadowed-box" ng-show="!hidden">
    <div class="title">Combat</div>
    <div class="players">
      <div ng-repeat="state in game.currentBattle.states" class="player">
        <div class="name player-{{state.player.color}}">{{state.player.name}}</div>
        <div class="forces">
          <icon ng-repeat="unit in state.units"
                size="32"
                file-name="{{unit.type.name}}"
                class="image unit unit-{{unit.owner.color}}"
                ng-class="{selectable: isSelectable(unit), selected: isSelected(unit)}"
                ng-click="selectUnit(unit)"
          ></icon>
          <icon ng-repeat="building in state.buildings track by $index"
                          size="32"
                          file-name="{{building.name}}"
                          class="image building"
          ></icon>
        </div>
        <dice-panel value="state.getDice()"></dice-panel>
        <div ng-show="state.loss && !state.resolvedLoss">Sélectionnez l'unité à retirer</div>
        <div class="actions" ng-show="game.currentBattle.shouldMakeMoveDecision(state.player)">
          <input type="button" value="Rester" ng-click="stayButton(state.player)" />
          <input type="button" value="Retraiter" ng-click="retreatButton(state.player)" />
        </div>
      </div>
    </div>
  </div>
</div>
