<section class="player-panel">
    <detail class="player rounded-box shadowed-box"
            ng-class="{current: player.name === game.currentPlayer.name}"
            ng-repeat="player in game.players"
            ng-click="setPlayer(player)"
            >
        <div class="player-name player-{{player.color}} title">{{player.name}}</div>
        <div class="player-avatar"><img src="{{gravatarService.getPictureUrl(player.account.email)}}"></div>
        <div class="resources">
            <div class="priest adk-tooltip" title="{{player.priests}} pretre(s)">
                <span title=""><img ng-repeat="priest in [] | range:player.priests" src="app/images/priest.png" /></span>
            </div>
            <div class="philosopher adk-tooltip" title="{{player.philosophers}} philosophe(s)">
                <img ng-repeat="philosopher in [] | range:player.philosophers" src="app/images/philosopher.png">
            </div>
        </div>
        </div>
    </detail>
</section>
