section.player-panel {
  position: absolute;
  bottom: 20px;
  width: 100%;
  height: 300px;
}
section.player-panel detail.player {
  float: right;
  width: 250px;
  height: 300px;
  border-radius: 30px;
  padding: 5px;
  margin: 0 20px 0 0;
  background-color: white;
  border: 2px solid black;
  box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.3);
}

section.player-panel {
  width: 100%;
  text-align: center;
}

section.player-panel .player-name {
  color: white;
  font-size: 1.5em;
  padding: 5px;
  border-radius: 25px 25px 0 0;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

section.player-panel .player-red {
  background: linear-gradient(to top, $player-red-1, $player-red-2 80%); /* Standard syntax */
}

section.player-panel .player-blue {
  background: linear-gradient(to top, $player-blue-1, $player-blue-2 80%); /* Standard syntax */
}

section.player-panel .player-green {
  background: linear-gradient(to top, $player-green-1, $player-green-2 80%); /* Standard syntax */
}

section.player-panel .player-purple {
  background: linear-gradient(to top, $player-purple-1, $player-purple-2 80%); /* Standard syntax */
}

section.player-panel .resources {
  padding: 0 5px;
}
section.player-panel .resources div {
  font-size: 1.5em;
  display: table-row;
  padding: 30px 10px 10px 30px;
  margin: 5px;
  text-align: left;
}
