.action-panel {
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
  height: 200px;
  font-size: 2em;
}
.action-panel > * {
  cursor: pointer;
}
.action-panel .action-type {
  float: left;
  color: white;
  background-color: #3266d0;
  width: 90px;
  font-size: 0.6em;
  padding: 5px 5px 5px 10px;
  margin: 5px 0 0 0;
  border-radius: 0 20px 20px 0;
}
.action-panel .item-price {
  float: left;
}
.action-panel .action-building,
.action-panel .action-unit,
.action-panel .action-card {
  float: left;
  width: 100%;
  margin: 5px 5px 5px 0;
}
.action-panel .selected {
  border: solid 3px blue;
}
