.action-panel {
  position: fixed;
  bottom: 0;
  left: 1050px;
  width: 270px;
  height: 180px;

  .action-type {
    float: left;
    color: white;
    background-color: #3266d0;
    width: 90px;
    padding: 5px 5px 5px 10px;
    margin: 5px 0 0 0;
    border-radius: 0 20px 20px 0;
  }
  .item-price {
    float: left;
  }
  .action-building,
  .action-unit,
  .action-card {
    float: left;
    width: 100%;
    margin: 5px 5px 5px 0;
  }
  .selected {
    border: solid 3px blue;
  }
  .action-end-turn {
    position: absolute;
    bottom: 15px;
    right: 15px;
  }
  .actions * {
    cursor: pointer;
  }
}

