$darkbrown: #563f39;

$player-purple-1: #9b2c86;
$player-purple-2: #7b236a;
$player-red-1: #ab0000;
$player-red-2: #8c0000;
$player-green-1: #007c00;
$player-green-2: #005d00;
$player-blue-1: #3d61a8;
$player-blue-2: #32508a;

$bid-color-1: #ba9869;
$bid-color-2: #8a714e;
$border-light-color: #a58763;
$border-medium-color: #5f4d36;
$border-dark-color: #44322d;
