.rounded-box {
  background-color: white;
  margin: 10px;
  padding: 3px;
  border: 2px solid black;
  border-radius: 25px;
  box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.4);

  .title {
    color: white;
    background: linear-gradient(to top, $bid-color-1, $bid-color-2 80%); /* Standard syntax */
    font-size: 1em;
    text-align: center;
    padding: 6px;
    border-radius: 20px 20px 0 0;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  }
}
