$tooltip-color: rgba(255, 255, 255, 0.9);
$tooltip-bg: #f5f8ff;
$tooltip-shadow: #daddd8;
$tooltip-height: 96px;
$tooltip-transition-delay: 0.3s;

.adk-tooltip {
  display: inline;
  position: relative;
  &:after {
    background: $tooltip-color;
    border-radius: 5px;
    color: black;
    content: attr(title);
    left: -75px;
    padding: 5px 15px;
    position: absolute;
    z-index: 1098;
    width: 220px;
    box-shadow: rgba(0, 0, 0, 0.4) 5px 5px 4px 2px, $tooltip-shadow -15px 0px 15px 5px inset;
    bottom: 30px;
  }
  &:hover:after {
    bottom: 40px;
  }
  &:hover:before, &:hover:after {
    opacity: 1;
    margin-top: 0px;
  }
  &:before, &:after {
    transition: all $tooltip-transition-delay ease-out;
    pointer-events: none;
    opacity: 0;
    margin-top: -10px;
  }
  &:before {
    border: solid;
    border-color: $tooltip-color transparent;
    border-width: 6px 6px 0 6px;
    bottom: 24px;
    content: "";
    left: 45%;
    position: absolute;
    z-index: 1099;
  }
  &:hover:before {
    bottom: 34px;
  }
}
