<div class="creature-panel rounded-box shadowed-box">
  <div class="title">Créatures</div>
  <div class="creature-container">
    <div ng-repeat="creature in game.creatures track by $index"
         class="creature clickable"
         ng-class="{selected: selectedCreature && creature === selectedCreature}"
         ng-click="selectCreature(creature)"
      >
      <div class="image">image</div>
      <div class="name">{{creature.name}}</div>
      <sesterces number="{{4 - $index}}" size="35" class="cost"></sesterces>
    </div>
  </div>
</div>
