/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$sea: #37b8cb;
$player-black-1: #7c7c7c;
$player-black-2: #000000;
$player-red-1: #ec0000;
$player-red-2: #aa0000;
$player-green-1: #00af00;
$player-green-2: #006b00;
$player-blue-1: #2359f4;
$player-blue-2: #13318c;
$bid-color-1: #b3b3b3;
$bid-color-2: #828282;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

@font-face {
  font-family: roman;
  src: url(fonts/Dalek.ttf);
}

body {
  font-family: roman !important;
  background-color: $sea !important;
}
/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
