.XBidPanel {
  color: white;
  position: absolute;
  left: 0;
  width: $bid-panel-width;
  height: 100%;
  border-right: $darkbrown solid 5px;
  background: url(/images/map.jpg) top right;
  padding: 10px;
  box-shadow: 10px 0 8px 0 rgba(0, 0, 0, 0.3);
  z-index: 1;

  .border3D {
    box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.4), 0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
    border: 4px solid $darkbrown;
  }

  .phase {
    @extend .vertical-center;
    @extend .border3D;

    font-size: 1.8em;
    text-align: center;
    background-color: $darkbrown;
    height: 50px;
    border-radius: 50em;
    margin-bottom: 20px;
  }
  .god {
    @extend .vertical-center;
    @extend .border3D;

    margin: 10px 0;
    background-color: #a4865d;
    height: 100px;
    border-radius: 50em;
    transition: 0.5s;
    left: 0;
    position: relative;
    &.selected {
      left: 3em;
    }

    p {
      font-size: 2em;
      padding: 3px 0 0 10px;
    }
    .god-avatar {
      position: absolute;
      width: 90px;
      left: -8px;
      top: -12px;
      transform: rotate(-5deg);
      z-index: 100;
      transition: all $tooltip-transition-delay ease-in-out;

      &:hover {
        transform: rotate(0);
        transition: all $tooltip-transition-delay ease-in-out;

        div.god-tooltip {
          visibility: visible;
          opacity: 0.95;
          margin: -110px 0 0 85px;
          transition: all $tooltip-transition-delay ease-in-out;
        }
      }
      img {
        width: 100%;
        border: 3px solid white;
        border-radius: 10px;
        box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.4);
      }
    }

    .god-name {
      font-size: 26px;
      padding: 0 0 0.2em 0.4em;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    }
    .gold {
      width: 22px;
      height: 22px;
      border: solid 1px #656565;
      border-radius: 2.5em;
      cursor: pointer;
      margin: 1px;
      display: inline-block;

      &:hover {
        color: #f5e385;
      }
      &.bidden {
        cursor: not-allowed;
      }
      img {
        width: 20px;
      }
      &.bidden-player-red {
        background-color: $player-red-1 !important;
      }
      &.bidden-player-blue {
        background-color: $player-blue-1 !important;
      }
      &.bidden-player-green {
        background-color: $player-green-1 !important;
      }
      &.bidden-player-purple {
        background-color: $player-purple-1 !important;
      }
    }
    .god-tooltip {
      visibility: hidden;
      opacity: 0;
      position: relative;
      min-width: 250px;
      height: $tooltip-height;
      margin: -110px 0 0 -130px;
      padding: 0px 16px 0px 12px;
      font-size: 16px;
      line-height: 45px;
      color: black;
      background: $tooltip-bg;
      border: 0px 0px 0px 0px none none none none white $tooltip-bg white white;
      border-radius: 15px;
      box-shadow: rgba(0, 0, 0, 0.4) 5px 5px 4px 2px,
      $tooltip-shadow -15px 0px 15px 5px inset;
      transition: all $tooltip-transition-delay ease-in-out;

      &:after {
        content: "";
        position: absolute;
        top: 35px;
        left: -24px;
        width: 0;
        height: 0;
        border-width: 12px;
        border-style: solid;
        border-color: transparent $tooltip-bg transparent transparent;
      }
      img {
        width: 40px !important;
        border: 1px solid black !important;
        background-color: white !important;
        border-radius: 50% !important;
        margin: 5px 10px 0 0;
        box-shadow: none !important;
      }
    }
    .player-name {
      margin-left: 1em;
    }
    .content-container {
      margin-left: 90px;
      padding-right: 20px;
    }
  }

  /* Player background*/
  .player-red {
    background-color: $player-red-1 !important;
  }
  .player-blue {
    background-color: $player-blue-1 !important;
  }
  .player-green {
    background-color: $player-green-1 !important;
  }
  .player-purple {
    background-color: $player-purple-1 !important;
  }

  /* Message box */
  .message-box {
    position: absolute;
    bottom: 60px;
    height: 85px;
    width: 260px;
    padding: 10px;
    border: none;

    &:after {
      border-left: solid transparent 10px;
      border-right: solid transparent 10px;
      border-top: solid white 10px;
      bottom: -10px;
      content: " ";
      height: 0;
      left: 50%;
      margin-left: -60px;
      position: absolute;
      width: 0;
      box-shadow: 0 2x 2px 0 rgba(0, 0, 0, 0.3);
    }
  }
}
