.map-counter {
  @extend .inline-container;

  text-align: center;
  margin: auto;
  border: solid black 1px;
  border-radius: 10px;
  background-color: white;
  padding: 5px;

  .count {
    width: 1.5em;
  }
}
