.map-counter {
  text-align: center;
  margin: auto;

  @extend .inline-container;
  border: solid black 1px;
  border-radius: 10px;
  background-color: white;
  padding: 5px;

  .count {
    width: 1.5em;
  }
}
