<section class="map">
    <svg>
        <g>
            <path ng-repeat="territory in game.territories track by territory.id"
                  ng-attr-d="{{territory.path}}"
                  class="area"
                  ng-class="{over: territory.over, neighbour: territory.isNeighbour}"
                  ng-mouseover="onMouseOver($event, territory)"
                  ng-mouseout="onMouseOut(territory)"
                  ng-click="onClick(territory)"
                  style="{{territory.owner ? 'fill: '+territory.owner.color+';' : ''}};"
                  stroke="black"
                    >
            </path>
        </g>
    </svg>
    <div ng-repeat="territory in game.territories track by territory.id"
         ng-if="territory.units.length"
         class="icon-container"
         style="left: {{territory.box.x}}px; top: {{territory.box.y}}px; width: {{territory.box.width}}px; height: {{territory.box.height}}px;"
            >
        <icon
                ng-repeat="unit in territory.units"
                size="{{unitSize}}"
                file-name="{{unit.type.name}}"
                class="image"
                ng-class="{selected: unit.selected}"
                ng-click="toggleUnit(unit)"
                ></icon>
    </div>
</section>
