$darken1: 15%;
$darken2: 30%;

$earth: #c8c09e;
$earth-over: darken($earth, $darken2);
$earth-over-neighbour: darken($earth, $darken1);

$sea: lightblue;
$sea-over: darken($sea, $darken2);
$sea-over-neighbour: darken($sea, $darken1);

.map {
  margin: 0 0 0 600px;
  padding: 0 0 0 -600px;
  position: relative;

  svg {
    width: 1000px;
    height: 800px;
  }

  .area {
    fill: $earth;
    &.over {
      fill: $earth-over;
    }
    &.neighbour {
      fill: $earth-over-neighbour;
    }
    &.owned {
      stroke-width: 10px;
    }

    &.sea {
      fill: $sea;
      &.over {
        fill: $sea-over;
      }
      &.neighbour {
        fill: $sea-over-neighbour;
      }
    }
  }

  .image {
    cursor: pointer;
    pointer-events: auto;
    &.selected {
      border: solid 1px black;

    }
  }

  .icon-container {
    position: absolute;
    pointer-events: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
