<div class="bidPanel">
  <div>phase : {{game.phase}}</div>
  <div ng-repeat="player in noBidPlayers()">{{player.name}}</div>
  <div class="separator"></div>
  <div ng-repeat="god in game.currentGods"
       class="{{god.name}} god god-{{god.color}}"
       ng-click="onGodClick(god)"
    >
    <div class="god-avatar">{{god.name}}</div>
    <div ng-show="god !== God.Apollon">joueur : {{game.getPlayer(god).name}}{{god.bid ? ', '+god.bid.gold+' pièces' : ''}}</div>
    <div ng-show="god === God.Apollon">joueurs : {{god.playerNames.join(', ')}}</div>
  </div>
  <div ng-show="god">
    <div>Valeur d'enchère</div>
    <div ng-repeat="value in getBidValues()" ng-click="placeBid(value)" class="bid-value coin">{{value}}</div>
    <div class="bid-value custom coin">
      <input type="text" ng-model="customBidValue" />
      <input type="button" value="OK" ng-click="placeCustomBid()"/>
    </div>
  </div>
  <div class="separator"></div>
  <div>Joueur courant : {{game.currentPlayer.name}}</div>
  <div ng-show="game.phase === Phases.actions">
    <input type="button" value="Fin de tour" ng-click="endTurn()"/>
  </div>
  <div id="adriatik">Adriatik</div>
</div>
