.bidPanel {
  color: black;
  position: absolute;
  left: 0;
  width: 300px;
  height: 100%;
  border-right: #563f39 solid 5px;
  background: url(images/map.jpg) top right;
  padding: 10px;
}
.bidPanel .god {
  color: white;
  cursor: pointer;
  padding: 10px;
  height: 100px;
  margin-top: 10px;
  border-radius: 50px 50px;
}
.bidPanel .god-avatar {
  float:  left;
  height: 80px;
  width: 80px;
  background-color:  white;
  border-radius: 40px;
  border: 1px solid black;
  padding: 30px 0 0 0;
  text-align: center;
}
.bidPanel .god-white {
  color: black;
  background-color: #f3f3f3;
}
.bidPanel .god-black {
  background-color: black;
}
.bidPanel .god-red {
  background-color: #b90000;
}
.bidPanel .god-green {
  background-color: #2cb28e;
}
.bidPanel .god-blue {
  background-color: #1e49b4;
}
.bidPanel .god-yellow {
  background-color: #ffc931;
}
.bidPanel .god div {
  display: table-cell;
  vertical-align: top;
}
.bidPanel .god p {
  float:  left;
  font-size: 2em;
  padding: 3px 0 0 10px;
}
.bidPanel p.god-bidding {
  font-size: 1em;
  padding: 0 0 0 10px;
}
.bidPanel .god-bidding-value {
  width: 40px;
}
.bidPanel .separator {
  margin-bottom: 20px;
}
.bidPanel .bid-value {
  display: inline-block;
  cursor: pointer;
}
.bidPanel .bid-value.custom {
  width: 6em;
  padding: 0 0.5em;
}
.bidPanel .bid-value.custom input[type='text'] {
  width: 2em;
}
.bidPanel .bid-value.custom input {
  margin: 0;
}
.coin {
  width: 2em;
  height: 2em;
  text-align: center;
  padding-top: 0.3em;
  background-color: #e3cca0;
  border: black solid 1px;
  border-radius: 3em;
}
.message {
  width: 280px;
  height: 100px;
  background-color: white;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
}