<div class="bid-panel">
    <div class="phase">{{ game.phase }}: {{ game.turn }}</div>

    <div ng-repeat="god in game.currentGods"
         class="{{god.name}} god player-{{game.getPlayer(god).color}}"
            >

        <div class="god-avatar">
            <img src="app/images/gods/jupiter.png" />
            <div class="god-tooltip" >
                <div ng-show="god.building.label"><img src="app/images/{{ god.building.name }}.png">{{ god.building.label }}</div>
                <div ng-show="god.unitType.label"><img src="app/images/{{ god.unitType.name }}.png">{{ god.unitType.label }}</div>
                <div ng-show="god.playerNames">
                    <span>
                        {{god.playerNames.join(', ')}}
                    </span>
                </div>
            </div>
        </div>

        <div class="god-name">{{god.name}}</div>

        <div class="gold-container"
             ng-show="game.phase === Phases.bidding"
                >
            <div ng-repeat="gold in golds"
                 class="gold"
                 ng-click="placeBid(god, gold)"
                    ><span class="adk-tooltip" title="Miser {{gold}} pièce(s)"><span title=""><img src="app/images/sesterce.png" class="{{ game.getPlayer(god) && gold <= god.bid.gold ? 'bidden' : '' }}" ></span></span>
            </div>
        </div>
    </div>

    <div class="sesterce-box rounded-box shadowed-box">
        <div class="title">{{game.currentPlayer.gold}} sesterce(s)</div>

        <div class="purse">
            <img class="purse-sesterce" ng-repeat="piece in purse" src="app/images/sesterce.png">
        </div>
    </div>

    <div class="message-box rounded-box shadowed-box">
        <div class="current-player">Au tour de {{game.currentPlayer.name}} de jouer</div>
        <div ng-show="game.phase === Phases.actions">
            <input type="button" value="Fin de tour" ng-click="endTurn()"/>
        </div>
    </div>
</div>
