<section class="bid-panel">
    <div style="font-family: normal;">mode : {{rootScope.mode}}</div>
    <input type="button" ng-click="gameStorage.delete()" value="Reset" />
    <div class="phase">{{ game.phase }}: {{ game.turn }}</div>

    <div ng-repeat="god in game.currentGods"
         class="{{god.name}} god {{ game.phase === Phases.actions && game.getPlayer(god).color ? 'player-' + game.getPlayer(god).color : '' }}"
            >

        <div class="god-avatar">
            <img src="app/images/gods/jupiter.png" />
            <div class="god-tooltip" >
                <div ng-show="god.building.label"><img src="app/images/{{ god.building.name }}.png">{{ god.building.label }}</div>
                <div ng-show="god.unitType.label"><img src="app/images/{{ god.unitType.name }}.png">{{ god.unitType.label }}</div>
                <div ng-show="god.playerNames">
                    <span>
                        {{god.playerNames.join(', ')}}
                    </span>
                </div>
            </div>
        </div>

        <div class="god-name">{{god.name}}</div>

        <div class="gold-container"
             ng-show="game.phase === Phases.bidding"
                >
            <div ng-repeat="gold in golds"
                 class="gold {{game.getPlayer(god) && gold <= god.bid.gold ? 'bidden player-'+game.getPlayer(god).color : ''}}"
                 ng-click="placeBid(god, gold)"
                 ng-if="gold === 1 || god !== God.Ceres"
                 >
                <span class="adk-tooltip" title="{{ god.name === 'Ceres' ? 'Gagner' : 'Miser' }} {{gold}} sesterce(s)">
                    <span title="">
                        <img src="app/images/sesterce.png"
                         ng-hide="game.getPlayer(god) && gold <= god.bid.gold"
                            >
                    </span>
                </span>
            </div>
        </div>
    </div>

    <div class="sesterce-box rounded-box shadowed-box">
        <div class="title">{{game.currentPlayer.gold}} sesterce(s)</div>

        <div class="purse">
            <img class="purse-sesterce" ng-repeat="piece in [] | range:game.currentPlayer.gold" src="app/images/sesterce.png">
        </div>
    </div>

</section>
