.bid-panel {
  color: black;
  position: absolute;
  left: 0;
  width: 300px;
  height: 100%;
  border-right: #563f39 solid 5px;
  background: url(images/map.jpg) top right;
  padding: 5px;
  box-shadow: 10px 0 8px 0 rgba(0, 0, 0, 0.3);
}
.bid-panel .god {
  color: white;
  background-color: #a4865d;
  border: 6px solid #563f39;
  cursor: pointer;
  height: 100px;
  margin: 0 10px 10px 10px;
  padding: 0 0 10px 0;
  border-radius: 50px 50px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5),
  0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
}
.bid-panel .god p {
  float:  left;
  font-size: 2em;
  padding: 3px 0 0 10px;
}
.bid-panel p.god-name {
  float: right;
  font-size: 2.3em;
  padding: 0 30px 0 0;
  margin: 0;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
.bid-panel .god div {
  vertical-align: top;
}
.bid-panel p.god-bidding {
  font-size: 1em;
  padding: 0 0 0 10px;
}
.bid-panel .god-bidding-value {
  width: 40px;
}
.bid-panel .separator {
  margin-bottom: 20px;
}
.bid-panel .bid-value {
  display: inline-block;
  cursor: pointer;
}
.bid-panel .bid-value.custom {
  width: 6em;
  padding: 0 0.5em;
}
.bid-panel .bid-value.custom input[type='text'] {
  width: 2em;
}
.bid-panel .bid-value.custom input {
  margin: 0;
}
.message {
  width: 280px;
  height: 100px;
  background-color: white;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
}
.bid-panel .counter-container {
  clear: both;
  width: 200px;
  margin: 0 0 0 30px
}
.bid-panel .counter {
  float: left;
  width: 1.75em;
  height: 1.75em;
  border: solid 1px black;
  border-radius: 2.5em;
  color: black;
  background-color: #ffc931;
  text-align: center;
  font-size:0.8em;
}

.bid-panel .player-red {
  color: white;
  background-color: $player-red-1;
}
.bid-panel .player-blue {
  color: white;
  background-color: $player-blue-1;
}
.bid-panel .player-green {
  color: white;
  background-color: $player-green-1;
}
.bid-panel .player-purple {
  color: white;
  background-color: $player-purple-1;
}