<div class="intro-box"
     ng-show="showIntroBox == true"
    >
    <div class="overlay"></div>
    <div class="intro-box-container rounded-box">
        <h1>Adriatik</h1>
        <h2>Veni, vidi, vici</h2>
        <div class="authors">
            <span class="adk-tooltip" title="Rémy AURICOSTE"><span title=""><img src="http://www.gravatar.com/avatar/f4f4a333469c8b98c154057577be040a?s=50"/></span></span>
            <span class="adk-tooltip" title="Alain DOAN-HUU"><span title=""><img src="http://www.gravatar.com/avatar/67e9a59bf0ff662b936ad25d483e112f?s=50" /></span></span>
        </div>
        <div class="close-link adk-tooltip"
            title="Fermer la fenetre"
            ng-click="closeIntroBox()"
            ><span title="">Fermer</span></div>
    </div>
</div>