<div class="intro-box"
     ng-show="HideIntroBox == false"
    >
    <div class="intro-box-overlay"></div>
    <div class="intro-box-container rounded-box">
        <h1>Adriatik</h1>
        <h2>Veni, vidi, vici</h2>
        <div class="authors">
            <img src="http://www.gravatar.com/avatar/f4f4a333469c8b98c154057577be040a?s=50" />
            <img src="http://www.gravatar.com/avatar/67e9a59bf0ff662b936ad25d483e112f?s=50" />
        </div>
        <div class="close-link"
            ng-click="closeIntroBox()"
            >Fermer</div>
    </div>
</div>