.intro-box-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 600px;
  height: 260px;
  color: white;
  border: 10px solid white;
  background-color: #3049a3;
  margin: 200px 0 0 -300px;
  z-index: 2001;
  box-shadow: 0 20px 20px 0px rgba(0, 0, 0, 0.7),
  0 -50px 130px 60px rgba(0, 0, 0, 0.4)inset;

  h1 {
    font-size: 5em;
    text-align: center;
    margin:50px 0 0 0;
  }
  h2 {
    font-size: 1.5em;
    text-align: center;
    margin: 0;
  }
  .authors {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
    img {
      border-radius: 50%;
      border: 2px solid white;
      opacity: 0.5;
    }
    img:hover {
      opacity: 1;
    }
  }
  .close-link {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 15px 10px 0;
    cursor: pointer;

    a {
      color: white;
      font-size: 1em;
    }
  }
}