<div class="france">
  <svg>
    <g id="departements">
      <path ng-repeat="path in paths"
            ng-attr-d="{{path.d}}"
            class="departement"
            ng-class="{over: path.over}"
            ng-mouseover="onMouseOver($event, path)"
            ng-mouseout="onMouseOut(path)"
            ng-click="onClick(path)"
            style="fill: {{path.color}};"
            stroke="black"
        >
      </path>
    </g>
    <image ng-if="box"
           ng-attr-x="{{box.x + (box.width-20) / 2}}"
           ng-attr-y="{{box.y + (box.height-20) / 2}}"
           width="20"
           height="20"
           style="pointer: none;"
           xlink:href="/favicon.ico"
           class="image"
      />
    <rect ng-attr-width="{{box.width}}"
          ng-attr-height="{{box.height}}"
          ng-attr-x="{{box.x}}"
          ng-attr-y="{{box.y}}"
          ng-if="box"
          fill="none"
          stroke="red"
          stroke-width="1"
      />
  </svg>
</div>
