<div class="france">
  <svg>
    <g>
      <path ng-repeat="path in paths"
            ng-attr-d="{{path.d}}"
            class="departement"
            ng-class="{over: path.over}"
            ng-mouseover="onMouseOver($event, path)"
            ng-mouseout="onMouseOut(path)"
            ng-click="onClick(path)"
            ng-mousedown="onPress(path)"
            ng-mouseup="onRelease(path)"
            style="fill: {{path.color}};"
            stroke="black"
        >
      </path>
    </g>
    <img ng-repeat="troup in troups()"
          ng-attr-width="{{unitSize}}"
          ng-attr-height="{{unitSize}}"
          src="/favicon.ico"
          class="image"
          ng-class="{selected: troup.selected}"
          style="left: {{troup.left}}px; top: {{troup.top}}px;"
          ng-click="toggleTroup(troup)"
      />
  </svg>
</div>
