.france {
  margin: 0 0 0 600px;
  padding: 0 0 0 -600px;
  position: relative;
}
.france svg {
  width: 1000px;
  height: 800px;
}

.france .departement {
  fill: $ground;
}
.france .departement.over {
  fill: $ground-over-2;
}
.france .departement.neighbour {
  fill: $ground-over;
}
.france .image {
  cursor: pointer;
  pointer-events: auto;
}
.france .image.selected {
  border: solid 1px white;
}
.france .icon-container {
  position: absolute;
  pointer-events: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
