.france svg {
  width: 1000px;
  height: 1000px;
}
.france .departement {
  fill: lightgrey;
}
.france .departement.over {
  fill: grey !important;
}
.france .image {
  cursor: pointer;
  position: absolute;
}
.france .image.selected {
  border: solid 1px white;
}
